/*************** GLOBAL - HEADER *****************/

a {
	color: #457788;
	text-decoration: underline;
}

a:hover {
	color: #cc0000;
	text-decoration: none;
}

body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

aside {
	background: #dde6f3;
	padding: 10px 10px 20px 10px;
	margin: 20px 40px 0 0;
	border-radius: 5px;
	width: 500px;
}

section {
	margin-bottom: 20px;
	min-height: 200px;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 924px;
	height: auto;
}

#folio {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 924px;
	height: auto;
}

#site_wrapper {
	float: left;
	margin: 0;
	padding: 0;
	width: 924px;
	height: auto;
}

#top_strip {
	float: left;
	margin: 9px 0 0 0;
	padding: 0;
	width: 924px;
	height: auto;
}

.logo {
	float: left;
	width: 140px;
	height: auto;
	margin: 0;
	padding: 0;
}

.tagline {
	float: left;
	width: 370px;
	height: auto;
	margin: 0 0 0 20px;
	padding: 0;
	display: inline;
}

.tagline h1 {
	margin: 5px 0 0 0;
	padding: 0;
	font-family: Georgia, Times New Roman, serif;
	font-size: 18px;
	color: #3b8497;
	font-weight: normal;
}

#navigation {
	float: left;
	margin: 4px 0 0 0;
	width: 924px;
	height: 29px;
	background-color: #19315e;
	font-family: Times New Roman;
	font-size: 14pt;
}

#navigation div {
	display: inline;
}

#navigation a {
	text-decoration: none;
	color: white;
}

#nav_left_side div {
	float: left;
	margin-left: 0px;
}

#nav_left_side div:hover {
	background-color: #0059ff;
}

#nav_right_side div {
	float: right;
	height: 26px;
}

.nav_text {
	padding: 0 10px 0 10px;
	margin-top: 3px;
}

.nav_division {
	height: 29px;
}
 

/************** NEW NAV *********************/


.sub_nav_menu {
	display: none;
	position: absolute;
	-webkit-padding-start: 0px;
	margin: 0 0 0 -10px;
	padding: 14px 10px 10px 10px;
	background-color: #19315e;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
}

.sub_nav_menu ul {
	margin-left: 0px;
	padding-left: 0px;
}

.sub_nav_menu li {
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
	list-style: none;
}

#right_sub_nav_menu {
	float: right;
	position: relative;
	clear: left;
}

#right_sub_nav_menu li {
	text-align: right;
}


/*************** GLOBAL - MAIN *****************/


#main_content {
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	width: 924px;
	height: auto;
	background: #fff url(../img/content-bg.gif) repeat-x;
}

#left_col {
	float: left;
	width: 900px;
	height: auto;
	margin: 12px 0 0 12px;
	padding: 0;
	display: inline;
}

.left_content {
	float: left;
	width: 900px;
	height: auto;
	margin: 0;
	padding: 0;
}

.left_content h1 {
	color: #FF0000;
	font-family: Georgia, "Times New Roman", serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 25px;
	font-weight: normal;
}

.left_content h2 {
	color: #2D2D2D;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
}

.left_content h3 {
	color: #000;
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	font-size: 15px;
	font-weight: bold;
}

.left_content p {
	color: #000;
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	font-size: 14px;
}


/*************** GLOBAL - FOOTER *****************/


#footer {
	float: left;
	margin: 8px 0 0 12px;
	padding: 0;
	width: 900px;
	height: auto;
	background: #fff;
	border-top: solid 1px #cdd1db;
	display: inline;
}

#footer p {
	font-size: 11px;
	color: #666;
	margin: 8px 0 0 0;
	padding: 0 0 8px 0;
}


/*************** OTHER GLOBAL *****************/


.message_feedback {
	font-style: italic;
	text-align: center;
	padding: 10px 0;
}

.user_profile_message_feedback {
	font-style: italic;
	text-align: left;
}

.hidden_row {
	display: none;
}

.errorTip {
	display: none;
	border: 1px solid red;
	background-color: #ffffc4;
	border-radius: 2px;
	width: 270px;
	text-align: center;
}

.fieldError {
	border: 1px solid red;
	background-color: #ffd8d8;
}

.valid_entry {
	border: 2px solid #41ad49;
}

.invalid_entry {
	border: 2px solid red;
}

.entry_validation {
	vertical-align: middle;
	margin: 0 0 0 5px;
	background: url(../images/valid_entry_feedback.png);
	display: inline-block;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
}

.entry_validation_good {
	background-position: 0 -32px;
}

.entry_validation_no_good {
	background-position: 0 -16px;
}

.entry_validation_message {
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 300px;
	font-size: 15px;
	margin: 0 0 0 5px;
}

#actions_table {
	padding-left: 0px;
}

#actions_table table {
	text-align: left;
	width: 30%;
}

#actions_table th {
	text-align: left;
}

#actions_table a {
}

.no_underline a {
	text-decoration: none;
	color: black;
}


/*************** HOME PAGE *****************/


.front_buttons {
	margin-top: 30px;
}

.front_buttons div {
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.front_buttons h2 {
	margin-bottom: 20px;
}

.top_buttons div {
	margin-bottom: 50px;
	margin-top: 10px;
}

.bottom_buttons div {
	margin-top: 10px;
	margin-bottom: 50px;
}

.letter_buttons {
	display: inline-block;
	margin-right: 20px;
	height: 30px;
	width: 120px;
	background-color: #b2b2b2;
	border: 3px solid #2D2D2D;
	color: #2D2D2D;
	box-shadow: 2px 2px 2px #888;
	position: relative;
	left: 0;
	top: 0;
}

.letter_buttons_text {
	height: 30px;
	width: 120px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#organization_search {
	margin-bottom: 20px;
	text-align: center;
}

#admin_search {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#last_button {
	margin-right: 0px;
}

.home_menu p{
	width: 270px;
	font-family: Gisha;
}

.home_menu a {
	text-decoration: none;
	color: black;
}

.home_menu_head a {
	font-size: 30px;
}

.home_sub_menu {
	display: none;
	margin-left: 30px;
}

.home_sub_menu p {
	font-size: 20px;
	width: auto;
}

.pointer_arrow_click {
	width: 20px;
	text-align: center;
	display: inline-block;
}

.pointer_arrow_click img {
	padding-bottom: 5px;
}

.arrow {
	display: inline-block;
	position: relative;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	transition: all .2s;
}

.arrow_clicked {
	position: relative;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	transition: all .2s;
}

.searchBox {
	text-align: center;
}

#my_org_section a {
	text-decoration: none;
	color: #000;
}

/*the below 4 ID stylings are needed to override jQuery styles */
#advancedOrgSearch {
	text-align: right;	
}

#advancedOrgSearch a {
	color: blue;
	font-size: 10px;
	text-decoration: none;
}

#advancedAdminSearch {
	text-align: right;	
}

#advancedAdminSearch a {
	color: blue;
	font-size: 10px;
	text-decoration: none;
}


/*************** SUB PAGES - LETTER REQUEST FORM *****************/


#letter_request_table h2 {
	margin-top: 18px;
}

#details_form {
	padding: 5px 0px 5px 10px;
	width: 900px;
}
	
#details_form td{
	padding-bottom: 5px;
	vertical-align: top;
	height: 25px;
}

#details_form td:first-child {
	width: 28%;
}

#details_form td:nth-child(2) {
	width: 72%;
}
	
#request_submitter_other_text{
	display: none;
}

#submit_button {
	padding-left: 135px;
}
	
#request_index{
	display: none;
}

#header_text {
	text-align: center;
	padding-top: 10px;
}

.section_header_text {
	text-align: center;
}

#search_results h2 {
	padding-bottom: 20px;
	font-size: 14pt;
	color: black;
}

.submitter_inactive {
	width: 90px;
	margin-left: 2px;
}

#new_admin_popup {
	font-size: 15px;
}

#new_admin_popup td {
	height: 30px;
}


/*************** SUB PAGES - LETTER QUEUE *****************/


#letters_queue_table {
	margin-bottom: 20px;
	text-align: left;
}

#letters_queue_table table {
	width: 74%;
	margin-left: auto;
	margin-right: auto;
}

#letters_queue_table th {
	border-bottom: 1px solid black;
	text-align: left;
}

#letters_queue_table th a {
	text-decoration: none;
	color: black;
}

#letters_queue_table td a {
	text-decoration: none;
	color: blue;
}

#letters_queue_table td:first-child { /*target_date*/
	width: 17%;
}

#letters_queue_table td:nth-child(2) { /*organization*/
	width: 19%;
}

#letters_queue_table td:nth-child(3) { /*new*/
	width: 8%;
}

#letters_queue_table td:nth-child(4) { /*revised*/
	width: 12%;
}

#letters_queue_table td:nth-child(5) { /*enrollment*/
	width: 16%;
}

#letters_queue_table td:nth-child(6) { /*owner*/
	width: 11%;
}

#letters_queue_table img {
	border: none;
	padding-left: 5px;
	padding-bottom: 2px;
}


/*************** SUB PAGES - LETTERS CLAIM *****************/


#claim_table table {
}

#claim_table td {
	padding-top: 20px;
	font-size: 14px;
}

#claim_table td:first-child {
	padding-right: 10px;
}

#claim_submit_button {
	text-align: center;
}


/******************* SUB PAGES - LETTER REQUEST HISTORY ******************/


#letters_search {
	text-align: center;
}

#letters_search h2 {
	padding-bottom: 15px;
}

.letter_history_table {
	display: inline-block;
	border: 3px solid #2D2D2D;
	padding: 20px;
}

.letter_history_table h2 {
	margin-top: 20px;
}

.letter_history_table h2 span {
	font-size: 11px;
	font-weight: normal;
}

#letter_search_top_row {
	text-align: center;
}

#organization_select {
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	color: #2D2D2D;
	font-size: 15px;
}

#owner_table {
	display: inline-block;
	font-weight: bold;
	color: #2D2D2D;
	font-size: 15px;
}

#letter_search_bottom_row {
	margin: 10px auto 20px auto;
}

#letter_search_bottom_row h2 {
	padding-bottom: 5px;
}

#date_received {
	margin-right: 0px;
	display: inline-block;
}

#date_completed {
	display: inline-block;
	margin-left: 20px;
}

.from_date_field {
	display: inline-block;
	margin-right: 10px;
}

.to_date_field {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

#request_search_results h2 {
	padding-bottom: 20px;
	font-size: 14pt;
	color: black;
}

#request_search_results th {
	padding-right: 10px;
	border-bottom: 1px solid black;
	text-align: left;
}

#request_search_results td {
	padding-right: 10px;
}

#request_search_results img {
	border: none;
	padding-left: 5px;
	padding-bottom: 2px;
}

#request_search_results a {
	text-decoration: none;
	color: black;
}

#request_search_results a:hover {
	text-decoration: none;
}


/******************* SUB PAGES - ORGANIZATION LIST PAGE ******************/


#org_list_table {
	text-align: center;
	margin-top: 50px;
}

#org_list_table h2 {
	padding-bottom: 20px;
	font-size: 14pt;
	color: black;
}

#org_list_table table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 75%;
	border-spacing: 0px;
	border: 2px solid #a1a1a1;
}

#org_list_table th {
	padding-right: 10px;
	border-bottom: 1px solid #a1a1a1;
	text-align: left;
	background-color: #cccccc;
	margin: 0px;
	padding-top: 3px;
}

#org_list_table td:first-child { /*org_full_name*/
	width: 60%;
}

#org_list_table td:nth-child(2) { /*org_short_name*/
	width: 25%;
}

#org_list_table td:nth-child(3) { /*org_id*/
	width: 15%;
}

#org_list_table img {
	border: none;
	padding-left: 5px;
	padding-bottom: 2px;
}

#org_list_table a {
	text-decoration: none;
	color: black;
}

#org_list_table a:hover {
	text-decoration: none;
}


/******************* SUB PAGES - MEMBER DETAILS PAGE ******************/


#org_details_section {
	margin: 20px 0;
}

.org_profile_details {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.section_details a {
	text-decoration: none;
	color: black;
}

.section_details ul {
	font-size: 14px;
	margin-top: 0px;
	padding: 5px 0 0 20px;
	margin-bottom: 0px;
}

.section_details_edit a {
	font-size: 10px;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
	display: inline;
}

.section_details_delete_link {
	font-size: 10px;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
}

.org_section_details {
	border-right: 1px solid #a6a6a6;	
	border-left: 1px solid #a6a6a6;	
	border-bottom: 1px solid #a6a6a6;	
}

.org_section_details li {
	padding-bottom: 5px;
}

.org_section_details p {
	margin-top: 0;
}

.org_section_details a {
	color: blue;
}

#org_stats_section {
	width: 295px;
	margin: 0px 25px 10px 0px;
	padding-left: 0px;
}

#committee_details_section {
	width: 235px;
	margin: 0px 0px 10px 0px;
}

#smart_form_details_section {
	width: 275px;
	margin: 0px 0px 10px 0px;
}

#org_add_ons {
	border-right: 1px solid #a6a6a6;
	padding-right: 50px;
	padding-left: 0px;
	margin: 0px 25px 10px 0px;
}

#org_comments_section {
	margin: 0px 25px 10px 15px;
	width: 350px;
}

.resources_info {
	font-weight: bold;
}

.resources_pending {
	color: red;
	font-style: italic;
}

#org_admin_section {
	clear: both;
	width: 100%;
	padding: 0px 5px 10px;
	font-size: 15px;
	background: linear-gradient(to bottom, #cccccc, white);
}

#org_admin_section h2 {
	margin-top: 0px;
	padding-top: 5px;
	border-bottom: 1px solid #a6a6a6;
}

#org_admin_list {
	border-collapse: collapse;
	margin-top: 10px;
}

#org_admin_list a {
	text-decoration: none;
	color: black;
}

#org_admin_list td, #org_admin_list th {
	border: 1px solid #a6a6a6;
}

#org_admin_list th {
	text-align: left;
	padding: 0 10px;
	color: #2d2d2d;
	font-weight: bold;
	font-size: 15px;
}

#org_admin_list th:nth-child(1) {
	padding: 0 10px 0 3px;
}

#org_admin_list td {
	text-align: center;
	height: 22px;
}

#org_admin_list td:nth-child(1) {
	text-align: left;
	padding: 0 10px 0 3px;
}

.Live {
	font-weight: bold;
	color: green;
}

.Enrolling, .development {
	font-weight: bold;
	color: #e6ac00;
}

.Contracted {
	font-weight: bold;
	color: red;
}

.edit_delete_table a {
  font-size: 10px;
}

/******************* SUB PAGES - MEMBER ADD/EDIT PAGE ******************/


#form_table td {
	vertical-align: top;
	padding-bottom: 5px;
}

#comments_field {
	vertical-align: top;
}


/******************* LOGIN PAGE ******************/


#login_table {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 14px;
}

#login_button {
	margin-top: 20px;
}

.login_line {
	text-align: center;
	margin: 4px 0;
}

.login_line div {
	display: inline-block;
}


/******************* USER PROFILE / PROFILE UPDATE ******************/


#form_input_fields {
	margin: 10px 0 15px 0;
	color: black;
}

#user_edit_submit_button {
	text-align: center;
	padding-top: 20px;
}

#user_edit_submit_button a {
	text-decoration: none;
}


/******************* SUB PAGES - ADMIN LIST PAGE ******************/


#admin_list_table {
	text-align: center;
	margin-top: 50px;
}

#admin_list_table h2 {
	padding-bottom: 20px;
	font-size: 14pt;
	color: black;
}

#admin_list_table table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 80%;
	border-spacing: 0px;
	border: 2px solid #a1a1a1;
}

#admin_list_table th {
	padding-right: 10px;
	border-bottom: 1px solid #a1a1a1;
	text-align: left;
	background-color: #cccccc;
	margin: 0px;
	padding-top: 3px;
}

#admin_list_table a {
	text-decoration: none;
	color: black;
}

#admin_list_table a:hover {
	text-decoration: none;
}


/************************* Notices and Errors ***********************************/


.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}